---
import {
	fetchPopularCountriesSorted,
	fetchStationsByTerm,
	SearchType,
} from "../../api/radio-browser.js";
// biome-ignore lint/correctness/noUnusedImports: Used in Astro template
import Layout from "../../layouts/Layout.astro";
// biome-ignore lint/correctness/noUnusedImports: Used in Astro template
import ItemLinks from "../../components/ItemLinks";
// biome-ignore lint/correctness/noUnusedImports: Used in Astro template
import RadioSearch from "../../components/RadioSearch/index.js";
import "flag-icons/css/flag-icons.min.css";

const preloadedCountries = await fetchPopularCountriesSorted(32);
const initialCountry = preloadedCountries[0].name;
// biome-ignore lint/correctness/noUnusedVariables: Used in Astro template
const preloadedStations = await fetchStationsByTerm({
	term: initialCountry,
	type: SearchType.Country,
});
// biome-ignore lint/correctness/noUnusedVariables: Used in Astro template
const schemaData = {
  "@context": "https://schema.org",
  "@type": "ItemList",
  name: "Browse countries on RPlayer",
  itemListElement: preloadedCountries.map((country, idx) => ({
    "@type": "ListItem",
    position: idx + 1,
    name: country.name,
    url: `/country/${country.slug}`,
  })),
};
---

<Layout
  currentPage="country"
  title="All Countries"
  description="Browse all radio countries."
>
  <section class="p-0 border-0 rounded-none shadow-none my-8 sm:p-6 sm:bg-black sm:text-white sm:rounded-lg sm:border-2 sm:border-primary">
    <h1 class="font-bold mb-0 text-primary text-4xl">Browse by country</h1>
    <p class="mt-6">
      Discover radio stations from all over the world!<br />
      Select a country below to instantly explore and listen to its most popular online radio stations with <span class="font-semibold">R<span class="text-primary">Player</span></span>.<br />
      Enjoy music, news, and talk shows from every continent, all in one place.
    </p>
  </section>

  <RadioSearch
    client:only="react"
    initialTag={initialCountry}
    initialVisibleCount={8}
    preloadedGenresCountries={preloadedCountries}
    preloadedStations={preloadedStations}
  />

  <footer class="mt-12">
    <p class="mb-2 text-gray-400 text-sm">Browse other countries and listen to even more stations:</p>
    <ItemLinks items={preloadedCountries} basePath="country" />
  </footer>

  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify(schemaData)}
  />
</Layout>
