---
import {
	fetchPopularTagsSorted,
	fetchStationsByTerm,
	SearchType,
} from "../../api/radio-browser.js";
// biome-ignore lint/correctness/noUnusedImports: Used in Astro template
import ItemLinks from "../../components/ItemLinks.js";
// biome-ignore lint/correctness/noUnusedImports: Used in Astro template
import Layout from "../../layouts/Layout.astro";
// biome-ignore lint/correctness/noUnusedImports: Used in Astro template
import RadioSearch from "../../components/RadioSearch/index.js";

const preloadedTags = await fetchPopularTagsSorted(32);
const initialTag = preloadedTags[0].name;
// biome-ignore lint/correctness/noUnusedVariables: Used in Astro template
const preloadedStations = await fetchStationsByTerm({
	term: initialTag,
	type: SearchType.Tag,
});

// biome-ignore lint/correctness/noUnusedVariables: Used in Astro template
const schemaData = {
  "@context": "https://schema.org",
  "@type": "ItemList",
  name: "Browse genres on RPlayer",
  itemListElement: preloadedTags.map((tag, idx) => ({
    "@type": "ListItem",
    position: idx + 1,
    name: tag.name,
    url: `/tag/${tag.slug}`,
  })),
};
---

<Layout
  currentPage="tag"
  title="All Genres"
  description="Browse all radio genres."
>
  <section class="p-0 border-0 rounded-none shadow-none my-8 sm:p-6 sm:bg-black sm:text-white sm:rounded-lg sm:border-2 sm:border-primary">
    <h1 class="font-bold mb-0 text-primary text-4xl">Browse by genre</h1>
    <p class="my-8">
      Discover radio stations by genre!<br />
      Select a genre below to instantly explore and listen to the most popular online radio stations for that style with <span class="font-semibold">R<span class="text-primary">Player</span></span>.<br />
      Enjoy music, talk, and more from every genre, all in one place.
    </p>
  </section>

  <RadioSearch
    client:only="react"
    initialTag={initialTag}
    initialVisibleCount={8}
    preloadedGenresCountries={preloadedTags }
    preloadedStations={preloadedStations}
  />

  <footer class="mt-12">
    <p class="mb-2 text-gray-400 text-sm">Browse other genres and listen to even more stations:</p>
    <ItemLinks items={preloadedTags} basePath="tag" />
  </footer>

  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify(schemaData)}
  />
</Layout>
